# Папки виртуальных окружений
.venv/
venv/
env/
.env


# Кэшированные файлы Python
__pycache__/
*.pyc
*.pyo

# Файлы настроек IDE
.vscode/

# Файлы операционной системы
.DS_Store
Thumbs.db

# Логи
*.log

# Временные файлы
*.tmp
*.session
*.session-journal

cleanup_time.txt
id_list.txt